<h1>The Council</h1>
<p>API implementation of Scrum Wars</p>
<img src="https://camo.githubusercontent.com/7d26e28c3f0649e451d51047ce0621132accd9eb/68747470733a2f2f7669676e65747465322e77696b69612e6e6f636f6f6b69652e6e65742f73746172776172732f696d616765732f342f34342f436f756e63696c726f74732e6a70672f7265766973696f6e2f6c61746573743f63623d3230303930393135323331383137" alt="Jedi Council" data-canonical-src="https://vignette2.wikia.nocookie.net/starwars/images/4/44/Councilrots.jpg/revision/latest?cb=20090915231817" style="max-width:50%;">